@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body{
    font-family: 'Odibee Sans', cursive;
    background-image: linear-gradient(to left,rgb(30, 50, 163), #af1a1f);
}

/* HEADER =================== */
#title{
    margin: auto;
    text-align: center;
    font-size: 45px;
    background-color: #243dc7;
    color: #EA2027;
    width: 300px;
    border-radius: 15px;
    box-shadow: 4px 4px 8px #172677;
}

/* MAIN =================== */
main{
    background-color: white;
    width: 700px;
    height: 500px;
    margin: auto;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 3px 3px 6px;
}

#title-2{
    margin-top: 2rem;
    font-size: 30px;
}

select{
    width: 150px;
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

#calcular{
    margin-top: 1.5rem;
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border: solid black 1px;
    cursor: pointer;
    font-size: 18px;
}

#calcular:hover{
    background-color: rgb(3, 24, 143);
    color: white;
}

#title-3{
    text-align: center;
    font-size: 40px;
}

#res{
    text-align: center;
    font-size: 25px;
}
